<footer>
    <div class="footer_content">
        <p>Веб-портал разработан в рамках дипломного проекта <br> Разработчик: Теряев К.О</p>
        <div class="socials">
            <a href="https://t.me/Chs47x"><img src="/tg.png" height="35x" width="35px" style="border-radius: 10px;"></a>
            <a href="https://m.vk.com/chs47x"><img src="/vk.png" height="35x" width="35px" style="border-radius: 10px;"></a>
            <a href="https://discordapp.com/users/247699343702884353"><img src="/discord.png" height="35x" width="35px" style="border-radius: 10px;"></a>
        </div>
    </div>
</footer>