<nav class="nav_menu">
    <ul id ="logo">
        <li><span id="logo_text">ARCADE GAMES</span></li>
    </ul>
    <ul id = "fstUl">
        <li><a href="/">Главная</a></li>
        <li><a href="/games">Игры</a></li>
        <li><a href="/leaderboard">Таблица лидеров</a></li>
    </ul>
    <ul id = "sndUl">
        <li id = "login"><%= login %></li>
        <li id="logout"><a href="/logout" >Выйти</a></li>
    </ul>
</nav>
<script src="/nav.js"></script>