<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style-game.css">
    <title>Space Inavaders</title>
</head>
<body>
    <%- include('../partials/nav-menu'); %>
    <section class="arcade">
        <img src="/arcade.png" alt="" srcset="" class="img1">
        <img src="/arcade2.png" alt="" srcset=""class="img2">
        <img src="/arcade3.png" alt="" srcset=""class="img3">
        <canvas id = "game" width="450" height="430"></canvas>
    </section>
    <script src="/scripts-spaceInv/game.js" type="module"></script>
</body>
</html>