<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breakout</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <%- include('../partials/nav-menu'); %>
    <div class="main-games">
        <img src="/breakout-main.png" alt="">
        <h2 class="games-text">Как играть</h2>
        <p class="games-text">
            Breakout — аркадная игра, похожая на Pong, созданная фирмой Atari в 1976 году.<br>
            Является наиболее известным представителем игр жанра «Арканоид». <br>
            Верхняя треть игрового экрана занята рядами брусков. По экрану, отскакивая от верхней и боковых границ экрана, движется мяч. <br>
            Попадая в брусок, мяч отскакивает, а брусок исчезает. Игрок теряет одну жизнь, когда мяч ударяется в нижнюю часть экрана; чтобы предотвратить это, у игрока есть подвижная ракетка, с помощью которой мяч можно отбросить обратно в верхнюю часть экрана. <br>
            Аркадный автомат был оборудован чёрно-белым монитором, однако бруски выглядели цветными, так как на верхней части монитора были расположены окрашенные кусочки прозрачной материи <br>
        </p>
        <a href="/games/breakout/play" id="play">Играть</a>
    </div>
</body>
</html>