<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">
    <title>Pacman</title>
</head>
<body>
    <%- include('../partials/nav-menu'); %>
    <div class="main-games">
        <img src="/pacman-main.png" alt="">
        <h2 class="games-text">Как играть</h2>
        <p class="games-text">
            Pac-Man (с англ. — «Па́кман») — аркадная видеоигра, разработанная японской компанией Namco и вышедшая в 1980 году. <br>
            Задача игрока — управляя Пакманом, съесть все точки в лабиринте, избегая встречи с привидениями, которые гоняются за героем. <br> 
            Благодаря популярности игра портировалась и переиздавалась на множество платформ, среди которых особую известность получила версия Pac-Man для Atari 2600. <br>
            Из-за своего плохого качества она стала одним из символов кризиса видеоигр 1983 года. <br>
            Pac-Man дала начало одноимённой серии игр, в которой вышло множество продолжений на различных платформах, включая аркадные автоматы, домашние игровые системы, компьютеры и мобильные телефоны <br>
        </p>
        <a href="/games/pacman/play" id="play">Играть</a>
    </div>
</body>
</html>